body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #ff4500;
    font-size: 48px;
  }
  
  p {
    font-size: 18px;
    color: #333;
  }
  
  .levels-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .level {
    background-color: #129f22;
    color: white;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .level:hover {
    background-color: #e63946;
  }
  